<h2>Edit bio</h2>
<%= form_for @about, url: edit_bio_path do |f| %>
  <% if @about.errors.any? %>
  <div class= "error_messages">
    <h3> Form is invalid </h3>
    <ul>
      <% for message in @performance.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class='field'>
  <div id='editor-button-bar'></div>
    <%=f.label :bio %><br>
    <%=f.text_area :bio, rows: '10', cols: '80', id: 'editor-input' %>
  </div> 
  <h3>Preview:</h3>
  <div id="editor-preview"></div>
  <div class= "submit">
    <%=f.submit "Update" %>
  </div>
<% end %>
</div>