<h3>Visits</h3>
<%# raise %>
<%= @request.inspect %>
<table>
  <thead>
  </thead>
    <th>Total visits</th>
    <th>Unique vistors</th>
    <th>Page views</th>
    <th>Average visit time</th>
  <tbody>
    <tr>
      <td id="total_visits">
        <%= Visitor.total_visits %>
      </td>
      <td id="unique_visits">
        <%= @total_visits %>
      </td>
      <td>
        <%= Visitor.total_pageviews %>
      </td>
    </tr>

  </tbody>
</table>

<canvas id="pie_chart", height= '200', width='200'></canvas>

<h3>Mobile Visits</h3>

<h3><%= link_to "Add a performance", new_performance_path %></h3>
<h3><%=link_to "Edit bio", edit_bio_path %></h3>
<h3><%=link_to "Update rep list", operas_new_path %></h3>
