<h3>Visits</h3>
<%# raise %>
<%#= Browser.all.inspect %>
<table>
  <thead>
  </thead>
    <th>Total visits</th>
    <th>Unique vistors</th>
    <th>Page views</th>
  <tbody>
    <tr>
      <td id="total_visits">
        <%= Visitor.total_visits %>
      </td>
      <td id="unique_visits">
        <%= @total_visits %>
      </td>
      <td>
        <%= Visitor.total_pageviews %>
      </td>
    </tr>
  </tbody>
</table>

<canvas id="pie_chart", height= '300', width='300'></canvas>
<div id="analytics">
  <h3>Browsers used</h3>
  <table class = 'browser'>
    <thead>
      <th>Type</th>
      <th>Count</th>
    </thead>
    <tbody>
      <tr class='browser'>
        <td>Chrome</td>
        <td class= 'count', id='chrome'><%=@chrome%></td>
        <!-- <td><canvas id='bar_graph', height= '30', width = '100'></canvas></td> -->
      </tr>
      <tr class='browser'>
        <td>Firefox</td>
        <td class= 'count', id= 'firefox'><%=@firefox%></td>
      </tr>
      <tr class='browser'>
        <td>Safari</td>
        <td class= 'count', id='safari'><%=@safari%></td>
      </tr>
      <tr class='browser'>
        <td>Internet Explorer</td>
        <td class= 'count', id='ie'><%=@ie%></td>
      </tr>
      <tr class='browser'>
        <td>Other</td>
        <td class= 'count', id='other'><%=@other%></td>
      </tr>
    </tbody>
  </table>
  <canvas id='bar_graph', height= '200', width = '300'></canvas>
</div>
<hr>

<h3><%=link_to "Update rep list", operas_new_path %></h3>
<h3><%=link_to "Edit bio", edit_bio_path %></h3>
<h3><%= link_to "Add a performance", new_performance_path %></h3>
