
<div id="about">
  <h2> about </h2>
  <div id="about_pic">
    <%=image_tag("cityscape.jpg", width:"650")%>
    <div id="carlin"><%=link_to "Carlin Ma Photography", "http://www.carlinmaphotography.com/" %></div>
  </div>
  <p id='bio'>
    <%= markdown(@bio) %>
  </p>

  <div id="home_link">
    <%=link_to "Back to top", root_path, class: "smoothScroll" %>
  </div>
</div>

<div id="rep_list">
  <h2>repertoire list</h2>
    <div id="bio_pic">
      <%=image_tag("headshot.jpg", width:"250")%>
      <div id="carlin"><%=link_to "Carlin Ma Photography", "http://www.carlinmaphotography.com/" %></div>
    </div>
  <h3><%=link_to "View full resume", "public/resumes/resume.pdf" %></h3>
  <table class="opera_list">
    <tbody>
      <% @list.each do |composer|%>
        <tr>
          <% unless composer.name == "" %>
            <td><strong><%= composer.name %></strong>
            <% composer.operas.each do |opera| %>
              <ul>
                <li><i><%=opera.name%></i> <%="[#{opera.notes}]" if opera.notes!= '' %></li>
              </ul>
            <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div id="home_link">
    <%=link_to "Back to top", root_path, class: "smoothScroll" %>
  </div>
</div>

<div id="contact">
  <h2>contact</h2>
    <ul>
      <li id='email'><a href='mailto:senturia@gmail.com'>senturia@gmail.com</a></li>
    </ul><br>
  <div id="contact_pic">
    <%=image_tag("twirl.jpg", width:"650", class: "blah")%>
    <div id="carlin"><%=link_to "Carlin Ma Photography", "http://www.carlinmaphotography.com/" %></div>
  </div>
  <h2>links</h2>
    <ul>
      <% @links.each do |link| %>
        <li><a href= <%=link[:url]%>><%=link[:name] %></a></li>
      <% end %>
    </ul>
    <div id="home_link">
      <%=link_to "Back to top", root_path, class: "smoothScroll" %>
    </div>
</div>
<div id="stats_link">
  <%=link_to "Analytics", analytics_path %>
</div>

