<h2>Add Repertoire</h2>
<%= render 'form' %>

<ul>
<% @operas.each do |o| %>
  <li>
    <%= o.name %>
    (<%= o.composer.name %>)

    <%=link_to "Edit", "/operas/#{o.id}/edit"%>
    <%=link_to "Delete", "/operas/#{o.id}", method: :delete%>

  </li>
<% end %>
</ul>
